version: '3.5'
services:
  rreport: 
    image: aabor/rstudio-text:2.0-4-g9f1b16b
    build: .
    volumes:
      - /home/$USER/Documents:/home/rstudio/Documents
      - /home/$USER/projects:/home/rstudio/R
      - /home/$USER/.ssh:/home/rstudio/.ssh/  
      - /home/$USER/.Renviron:/home/rstudio/.Renviron
      - /home/$USER/.gitconfig:/home/rstudio/.gitconfig
      - /home/$USER/.rstudio/rstudio-text:/home/rstudio  
      - /home/$USER/.rstudio/rstudio-text:/srv/shiny-server 
      - /home/$USER/.rstudio/rstudio-text/.log:/var/log/shiny-server      
    ports:
      - "8787:8787"
    environment:
      - USER=rstudio
      - PASSWORD=123
    restart: "always"
    # networks: 
    #   - selenium-hub
    #   - front-end
# networks:
#   selenium-hub:
#     external: true
#   front-end:
#     external: true
