version: '3.5'
services:
  rreport: 
    image: aabor/rreport
    build: .
    volumes:
      - /home/$USER/R:/home/rstudio/R
      - /home/$USER/rstudio/rreports:/home/rstudio  
      - /home/$USER/.Renviron:/home/rstudio/.Renviron
    ports:
      - "8787:8787"
      - "3838:3838"
    environment:
      - TZ="Etc/GMT"
      - USER=rstudio
      - PASSWORD=123
    restart: "on-failure:30"
    # networks: 
    #   - selenium-hub
    #   - front-end
# networks:
#   selenium-hub:
#     external: true
#   front-end:
#     external: true
