version: '3.5'
services:
  rreport-test:
    image: aabor/rreport
    volumes:
      - "${PWD}:/home/rstudio/rreport/"
    working_dir: /home/rstudio/rreport
    command: bash -c "pwd && Rscript --verbose tests/run-tests.R"
    user: root    
