version: '3.5'
services:
  rreport-test:
    image: aabor/rreport:3.0-80-g7fa7cd7
    container_name: rreport-test
    user: $USER_ID:$GROUP_ID
    working_dir: $HOME
    stdin_open: true
    volumes:
      - /etc/group:/etc/group:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/shadow:/etc/shadow:ro
      - "${PWD}/tests/testthat/test-reports:/home/rstudio/rreport/tests/testthat/test-reports"
    command: bash -c "pwd && Rscript --verbose tests/run-tests.R"