version: '3.5'
services:
  rreport-test:
    image: aabor/rreport:latest
    container_name: rreport-test
    #user: $USER_ID:$GROUP_ID
    stdin_open: true
    volumes:
      # - /etc/group:/etc/group:ro
      # - /etc/passwd:/etc/passwd:ro
      # - /etc/shadow:/etc/shadow:ro
      - "${PWD}/test-reports:/home/rstudio/rreport/tests/testthat/test-reports"
    #command: bash -c "pwd && Rscript --verbose /home/rstudio/rreport/tests/run-tests.R"