version: '3.5'
services:
  rreport-test:
    image: aabor/rreport
    volumes:
      - $PWD:/home/rstudio/rreport
      - /home/projects/rreport/tests/testthat/test-reports:/home/rstudio/rreport/tests/testthat/test-reports
    working_dir: /home/rstudio/rreport
    environment:
      - TZ="Europe/Kiev"
      - WERKZEUG_DEBUG_PIN=off
    command: bash -c "pwd && Rscript --verbose tests/run-tests.R"
